<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <style>
    .container {
         
        float:right;
        width: 40%;
        
        
      }
      
     
   
</style>  
<style>
    .container-fondo {
position: absolute;
top: 0;
left: 0;
background-image: url('unam.jpg');
background-size: cover;
background-position: right;
height: 120vh;
width: 60vw;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
background-color: #ffffff;

      }
    </style>  
<style>
    .container_iconos{

    
        background-color: #3b8dad;
        height: 15%;
 }
    
</style>
</head>
<body class="blue lighten-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
    <!-- agregar user -->
  
    <div class="container_iconos " >
        <h2 ><a href="https://www.facebook.com/FESAragonUNAM" ><img src="f.png" width="50" height="50" style="position: absolute; right: 50px; top: 0;"></h2></a>
      
        <h1><a href="https://plataformaeducativa.aragon.unam.mx/secure"><img src="cuentas-aragon.png" width="160" height="70" style="position: absolute; right: 100px; top: 0;" ></a></h1>
        <h3><a href="https://www.aragon.unam.mx/fes-aragon/#!/inicio"><img src="fes.png"width="50" height="50" style="position: absolute; right: 0; top: 0;" ></a></h3>
        </div> 
    
    <div class="container">
        <br><br><br><br>
        <br><br><br><br>
        <br><br>
        <br><br><br><br>
        <br><br><br><br>
    <h2 ,style="font-family:'Times New Roman', Times, serif; text-align: center;">  Ingresar  usuario</h2>
    
    <br>
    <br>
    <br>

    <form action="/add" method="post">
    
    <label for="email"  class=" white-text " style="display: block;   font-size: 30px ;color:blue"> Contraseña: </label>
    <input type="password" id="password" name="pad required >
   
   
    <button class=" teal accent-3" ><a href="/rename"     style="display: block; font-size:25px;color: blue; text-align: center;""> mostrar base de datos </a> </button>
   

   
 </form> </div> 
<div class="container-fondo ">
        
        
        
        <h1 class=" yellow-text lighten-1" style="text-align: center;font-size: 150px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Gestor Administrativo </h1>
        
        <p style="font-size: 30px;text-align: center;">
            

            
                
       
            </p>
      </div>
 
</body>
</html>